#nav-bar {
    border-bottom:1px solid black;
}

ul#nav {
    list-style-type:none;
    margin:0;
    padding:5px;
    float: left;
}

ul#nav li.nav-item {
    display:inline;
}

.user {
    float: right;
}
