@(runningActivities:Iterable[models.Activity], availableActivities:Seq[String])(implicit flash:play.mvc.Scope.Flash)

@main("Models - " + play.Play.configuration.get("application.name"), Nil) {
    <h1>Activities</h1>

    @if(flash.get("info")) {
        <p> @flash.get("info") </p>
    }

    @if(flash.get("error")) {
        <p style="color:#c00">
            @flash.get("error")
        </p>
    }

    <h2>Running Activities</h2>

    @if(runningActivities.isEmpty) {
        <p>No activities are currently running.</p>
    } else {
        <table>
        @runningActivities.map { activity =>
            <tr>
                <td>@activity.name</td>
                <td>@a(controllers.Activities.manage(activity.id)) { Manage }</td>
                <td>@a(controllers.Activities.stop(activity.id)) { Stop }</td>
            </tr>
        }
        </table>
    }

    <h2>Launch New Activity</h2>
        
    <p>Click on an activity to launch it:</p>

    <ul>
    @availableActivities.map { activity =>
        <li>@a(controllers.Activities.run(activity)) { @activity }</li>
    }
    </ul>
}