@(activity: models.Activity)

@main(activity.name + " - " + play.Play.configuration.get("application.name"), List("hubnet.js")) {
    <h1>@activity.name</h1>

    <div id="activity-container">
        <span id="activity-status">Loading...</span>
    </div>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            launchApplet(@activity.port, "controller");

            // Add a link for launching local clients
            $("#activity-container").append(
                '<a href="@action(controllers.Activities.local(activity.id))" target="_blank">Launch local client</a>'
                );
        });
    </script>
}