@(id:Int, model:String)

@main(model + " - " + play.Play.configuration.get("application.name")) {
    <h1>@model</h1>

    <div id="activity-container">
        <span id="activity-status">Loading...</span>
    </div>

    <script type="text/javascript" charset="utf-8">
        // For debugging purposes only: show an alert box for poorly-formed JSON responses from the server.
        $.ajaxSetup({"error":function(XMLHttpRequest,textStatus, errorThrown) {   
            alert(textStatus);
            alert(errorThrown);
            alert(XMLHttpRequest.responseText);
        }});

        $(document).ready(function() {
            $.post('@action(controllers.Activities.waitToLoad(id))', function(response) {
                if (response.status == "Running") {
                    $("#activity-container").text('Done! Launching applet...');
                    launchApplet();
                }
                else if (response.status == "Error") {
                    $("#activity-status").replaceWith(errorAsHtml(response));
                }
            });
        });

        window.setInterval(function() {
            $("#activity-status:contains('Loading...')").append('.');
        }, 1000);
        
        function launchApplet() {
            $("#activity-container").width(1024);
            $("#activity-container").height(768);
            $("#activity-container").append(
                '<applet code="org.nlogo.hubnet.client.ClientApplet.class" '
                      + 'archive="@asset("public/jars/NetLogo.jar"),@asset("public/jars/scala-library.jar")" '
                      + 'width="100%" '
                      + 'height="100%" '
                      + 'hspace="0" '
                      + 'vspace="0" '
                      + 'id="hubnet-client">'
                    + 'Java must be installed and applets must be enabled in order to run HubNet activities in the browser.'
                    + '</applet>');
        }

        function errorAsHtml(error) {
            return '<div id="error"><p><b>An error occurred while launching the model:</b></p>'
                + '<pre>' + error.message + '</pre>'
                + '</div>';
        }
    </script>
}