@(id:Int, model:String)

@main(model + " - " + play.Play.configuration.get("application.name"), List("applet.js")) {
    <h1>@model</h1>

    <div id="activity-container">
        <span id="activity-status">Loading...</span>
    </div>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $.post('@action(controllers.Activities.waitToLoad(id))', function(response) {
                if (response.status == "Running") {
                    $("#activity-status").text('Launching applet...');
                    launchApplet(response.port);
                }
                else if (response.status == "Error") {
                    $("#activity-status").replaceWith(errorAsHtml(response));
                }
            });
        });

        window.setInterval(function() {
            $("#activity-status:contains('Loading...')").append('.');
            $("#activity-status:contains('Launching applet...')").append('.');
        }, 1000);
    </script>
}